<div ng-controller="order as vm">
    <form kendo-validator>
        <div id="ordering">
            <div class="container-fluid">
                <div id="computerOrder" class="computerChoices k-header">
                    <h2>Order a computer</h2>
                    <div class="row">
                        <div class="col-md-8" id="model">
                            <h3>Model</h3>
                            <select id="computerDropDownList"
                                    kendo-drop-down-list
                                    k-options="vm.computerOptions">
                            </select>
                        </div>
                        <div class="col-md-4" id="Memory">
                            <h3>Memory</h3>
                            <p>{{vm.Ram}} Gigabytes</p>
                            <div kendo-slider
                                 ng-model="vm.Ram"
                                 k-options="vm.RamOptions">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3>Customizer</h3>
                            <select kendo-multi-select
                                    k-options="vm.selectOptions"
                                    ng-model="vm.selectedIds">
                            </select>
                            &nbsp;
                            <button kendo-button class="k-primary" ng-click="CustomizationWindow.open()">?</button>
                            <div kendo-window="CustomizationWindow"
                                    k-title="'Understanding Customization'"
                                    k-width="500"
                                    k-height="250"
                                    k-visible="false"
                                    k-content="{url:'app/doc/UnderstandingCustomization.html'}"></div>
                        </div>
                        <div class="col-md-4">
                            <h3>Delivery Date</h3>
                            <input id="computerDeliveryDate"
                                   kendo-date-picker
                                   k-options="vm.deliveryDatePickerOptions"/>
                            <span kendo-notification="notification1"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Comments</h3>
                            <textarea kendo-editor ng-model="vm.comments"
                                    style="..."></textarea>
                        </div>
                        <div class="col-md-4">
                            <h3>About You</h3>
                            <div>
                                <label>
                                    <span>Full Name</span>
                                    <input name="fullName" class="k-textbox"
                                           placeholder="Full Name"
                                           required
                                           validationMessage="Please enter Full Name">
                                </label>
                            </div>
                            <div>
                                <label>
                                    <span>Email</span>
                                    <input type="email" name="name" class="k-textbox"
                                           placeholder="e.g., joe@example.com"
                                           required
                                           validationMessage="Please enter {0}"
                                           data-email-msg="Email format doesnt look right">
                                </label>
                            </div>
                            <div>
                                <label>
                                    <span>Phone</span>
                                    <input type="tel" name="tel" class="k-textbox"
                                           pattern="\d{10}"
                                           placeholder="Please enter a 10 digit phone number"
                                           required
                                           validationMessage="Please enter a 10 digit phone number">
                                </label>
                            </div>
                            <div>
                                <button kendo-button class="k-primary" ng-click="vm.submitOrderClick()"> Submit Order</button>
                            </div>
                            <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="vm.orderProgress"></div>
                            <div>{{vm.status}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>